	/* login.jsp */
	
	body {
		background: #eee !important;	
	}
	
	.wrapper {	
		margin-top: 80px;
	  margin-bottom: 80px;
	}
	
	.form-signin {
		max-width: 380px;
		padding: 15px 35px 45px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,0.1);  
	}
	
	.form-signin-heading {
		text-align: center;
		margin-bottom: 30px;
	}
	
	.checkbox {
		margin-bottom: 30px;
	  font-weight: normal;
	  margin-left: 25px;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

/* home.jsp */

	body {
	  padding-top: 50px;
	  margin: 10px;
	}
	.bgImg{
		background-image: url('../../images/suspicious-medications-magnifying-glass_168171-290.jpg');
		background-size: cover;
	}
	.starter-template {
	  padding: 100px 15px;
	  text-align: center;
	/*  background-image:url('resources/images/suspicious-medications-magnifying-glass_168171-290.jpg'); */
	  background-size: cover;
	  z-index:0;
	  /*background: rgba(0,0,0,0,3);*/
	}
	    
	.starter-template::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index:1;
		opacity:0.3!important;
		
		background-image: linear-gradient(120deg, #eaee44, #33d0ff);
	  /*background: rgba(0,0,0,0,3);*/
	}
	
	.banner:after {
	  content: "";  /* :before and :after both require content*/
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #fff;
	  opacity: .5;
	  /* mix-blend-mode: color;
	  // mix-blend-mode: hard-light;
	   // mix-blend-mode: hue;*/
	}
	
	.banner > * {
	  z-index: 100;
	}
	
	.banner {
	  text-align: center;
	  position: relative;
	  min-height: 60vh;
	  background-image: url('../../images/suspicious-medications-magnifying-glass_168171-290.jpg');
	  background-size: cover;
	  display: flex;  
	}
	
	.banner-text {
	  padding: 100px 15px;
	  text-align: center;
	  width: -webkit-fill-available;
	}
	
	.banner-text p {
		padding: 20px;
	}
	
	h1 {
	  margin: auto;  
	}
	.nav-bar-btn {
	    position: absolute;
	    top: 15%;
	}